@page "/pagina-principal/recargas"
@inject IJSRuntime Js
<style>
    .valid.modified:not([type=checkbox]) {
        outline: none !important;
    }

    .hiddens {
        height: 0px;
        -webkit-transition: height 2s linear;
        -moz-transition: height 2s linear;
        -ms-transition: height 2s linear;
        -o-transition: height 2s linear;
        transition: height 2s linear;
    }
</style>



@if (!confirmacion)
{
    @if (forms)
    {
        <RadzenCard class="mt-3 ml-1 col-6 m-auto ">
            <div class="row">
                <div class="col">
                    <a class="btn btn-warning mr-2" href="pagina-principal">volver</a><h3 class="d-inline">Recargar mi tarjeta</h3>
                </div>
                <div class="col">
                    <i class="fab fa-cc-visa fa-2x float-right ml-2" style=" color: #0b5ed7 !important;"></i>
                    <i class="fab fa-cc-mastercard fa-2x text-primary float-right"></i>
                </div>
            </div>
            <EditForm Model="@recargas" OnValidSubmit="@(()=>forms=!forms)">
                <DataAnnotationsValidator />
                <div class="border-top mt-3">
                    <div class="form-group mt-2">
                        <label class=" mb-1">Numero de tarjeta</label>
                        <select @onchange="OnChangeCard" class="form-control">
                            <option value="" selected disabled>Seleccione una de sus tarjetas...</option>
                            @if (carsd != null)
                            {
                                @if (carsd.tarjeta.Count != 0)
                                {
                                    @foreach (var item in carsd.tarjeta)
                                    {
                                        <option value="@item.numeroTarjeta">@item.numeroTarjeta</option>
                                    }
                                }
                            }
                            else
                            {
                                <option value="">Cargando las tarjetas...</option>
                            }
                        </select>
                         <ValidationMessage For=@(() => recargas.numeroTarjeta) />
                       
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label>Recargar</label>
                    <RadzenRadioButtonList @bind-Value=@value TValue="int">
                        <Items>
                            <RadzenRadioButtonListItem Text="Viajes" Value="1" />
                            <RadzenRadioButtonListItem Text="Balance" Value="2" />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
                <div class="form-group">
                    <label>@(value == 1 ? "Cantidad de viajes":"Monto a recargar")</label>
                    <InputNumber @bind-Value="recargas.BalanceViaje" class="form-control"></InputNumber>
                    <ValidationMessage For=@(() => recargas.BalanceViaje) />
                    <p class="mt-1">
                        @(value==2 ? "El monto mínimo de recarga es de RD$20.00 y el máximo de RD$2,000.00"
                                    : "Cantidad maxima de viajes 20")

                    </p>
                    <p class="mt-1 text-danger">
                        @(value == 2 && recargas.BalanceViaje <20 ? "El balance a recargar es menor al balace requerido...":"")

                    </p>
                    <p class="mt-1 text-danger">
                        @(value == 2 && recargas.BalanceViaje > 2000 ? "El balance a recargar es mayor al balace requerido...":"")

                    </p>
                    <p class="mt-1 text-danger">
                        @(value == 1 && recargas.BalanceViaje > 20 ? "A sobrepasado la cantidad maxima de viajes...":"")

                    </p>
                    <p class="mt-1 text-danger">
                        @(value == 1 &&  recargas.BalanceViaje ==0 ? "La cantidad de viajes no puede ser 0":"")
                    </p>
                    <p class="mt-1 text-danger">
                        @(value == 2 &&  recargas.BalanceViaje ==0 ? "La cantidad de balance no puede ser 0":"")
                    </p>
                </div>

                @if (metodoPago.Numero_tarjeta_pago == null)
                {
                    <div class="form-group">
                        <label>Metodo de pago</label>
                        <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" @onclick="ToggleModal">Agregar metodo de pago</button>
                    </div>
                }
                @if (digitos_finales != "")
                {
                    <div class="alert alert-light">
                        <div class="row">

                            <div class="col-1 text-center">
                                <ion-icon style="font-size:30px;" name="card-sharp"></ion-icon>
                            </div>

                            <div class="col-9">
                                XXXX-XXXX-XXXX-@digitos_finales
                            </div>

                            <div class="col-2 text-center">
                                <ion-icon class="text-success" @onclick="ToggleModal" style="font-size:30px; cursor:pointer;" name="create-sharp"></ion-icon>
                                <ion-icon class="text-danger" @onclick="CloseModal" style="font-size: 30px; cursor: pointer;" name="close-sharp"></ion-icon>
                            </div>

                        </div>
                    </div>
                }

                @if (value == 1 && recargas.BalanceViaje < 20 && recargas.BalanceViaje != 0)
                {
                    <button type="submit" class="btn btn-success float-right">Siguiente</button>
                }
                else if (value == 2 && recargas.BalanceViaje > 20 && recargas.BalanceViaje < 2000 && recargas.BalanceViaje != 0)
                {
                    <button type="submit" class="btn btn-success float-right">Siguiente</button>
                }
                else
                {
                    <button type="button" disabled class="btn btn-success float-right">Siguiente</button>
                }
            </EditForm>
        </RadzenCard>
    }
    else
    {
        <RadzenCard class="mt-2 ml-1 col-6 m-auto animate__animated animate__backInRight">
            <div class="col">
                <span class="text-warning" style="cursor:pointer" @onclick="@(()=>forms=!forms)"><i class="fas fa-arrow-left fa-2x mr-2 mt-2"></i></span>
                <h2 class="d-inline mb-1">Un paso mas!</h2>
                <div style="width:250px; height:270px; margin:auto; ">
                    <img src="Image/undraw_confirmation_re_b6q5.svg" class="m-auto" style="z-index:30" height="270" width="250" alt="Alternate Text" />
                </div>
            </div>
            <div class="col">
                <hr class="pt-0 mt-0" />
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">Metodo de pago:</span>
                        <span class="d-block">Numero:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">MasterCard/Visa</span>
                        <span class="d-block">XXXX-XXXX-XXXX-@digitos_finales</span>
                    </div>
                </div>
            </div>
            <div class="col border-top">
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">Tipo de transaccion:</span>
                        <span class="d-block">Numero de tarjeta:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">Viaje/Recarga</span>
                        <span class="d-block">@recargas.numeroTarjeta</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <hr class="pt-0 mt-0" />
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">@(value == 1 ? "Cantida de viajes:": "Balance a recargar:")</span>
                        <span class="d-block">Total a pagar:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">@(value == 1 ? @$"{recargas.BalanceViaje}": $"RD${recargas.BalanceViaje}.00")</span>
                        <span class="d-block text-success">@(value == 1 ? @$"RD${(recargas.BalanceViaje*20)}.00": $"RD${recargas.BalanceViaje}.00")</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <hr class="pt-0 mt-0" />
                <button class="btn btn-success float-right ml-3" @onclick="Procesar_pago">Confirmar</button>
                <button class="btn btn-danger float-right">Cancelar</button>
            </div>
        </RadzenCard>
    }
}
else
{
    if (TipoMensaje)
    {
        <RadzenCard class="mt-2 ml-1 col-6 m-auto animate__animated animate__backInRight">
            <div class="col text-center">
                <h2 class="d-inline mb-1 text-center">¡Recarga realizada exitosamente!</h2>
                <div style="width:250px; height:270px; margin:auto; ">
                    <img src="Image/undraw_agree_re_hor9.svg" class="m-auto" style="z-index:30" height="270" width="250" alt="Alternate Text" />
                </div>
            </div>
            <div class="col">
                <h2 class="d-block">Resumen</h2>
                <hr class="pt-0 mt-0" />
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">Metodo de pago:</span>
                        <span class="d-block">Numero:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">MasterCard/Visa</span>
                        <span class="d-block">XXXX-XXXX-XXXX-@digitos_finales</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <hr class="pt-0 mt-0" />
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">Tipo de transaccion:</span>
                        <span class="d-block">Numero de tarjeta:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">Viaje/Recarga</span>
                        <span class="d-block">@recargas.numeroTarjeta</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <hr class="pt-0 mt-0" />
                <div class="row pt-0 mt-0">
                    <div class="col">
                        <span class="d-block">@(value == 1 ? "Cantida de viajes:" : "Balance recargado:")</span>
                        <span class="d-block">Total pagado:</span>
                    </div>
                    <div class="col text-right">
                        <span class="d-block">@(value == 1 ? @$"{recargas.BalanceViaje}" : $"RD${recargas.BalanceViaje}.00")</span>
                        <span class="d-block text-success">@(value == 1 ? @$"RD${(recargas.BalanceViaje * 20)}.00" : $"RD${recargas.BalanceViaje}.00")</span>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <hr class="pt-0 mt-0" />
                <a href="pagina-principal" class="btn btn-success m-auto">Volver a inicio</a>
            </div>
        </RadzenCard>
    }
    else
    {
        <RadzenCard class="mt-2 ml-1 col-6 m-auto animate__animated animate__backInRight text-center">
            <div class="col text-center">
                <h2 class="d-inline mb-1 text-center">¡Vaya!</h2>
                <div style="width:270px; height:290px; margin:auto; ">
                    <img src="Image/undraw_page_not_found_re_e9o6.svg" class="m-auto" style="z-index:30" height="290" width="270" alt="Alternate Text" />
                </div>
                <h2 class="text-center mb-3 ">Lo sentimos. No hemos podido recargar su tarjeta, debido a que ocurrio un error... Por favor, Vuelve a intentarlo.</h2>
            </div>
            <div class="col d-flex justify-content-center">
                <hr class="pt-0 mt-0" />
                <button @onclick="VolverAIntentar" class="btn btn-success m-auto">Volver a intentar</button>
            </div>
        </RadzenCard>
    }
}



<div class="modal fade @(_fadeInModal ? "show":"") @(_modalRendered ? "d-block":"hiddens animate__animated animate__backOutUp animate__delay-2s")" style="background: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); " data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Metodo de pago</h5>
                <button type="button" class="btn-close" @onclick="CloseModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="metodoPago" OnValidSubmit="Metodo_pago">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Numero de tarjeta</label>
                        <InputText @bind-Value="metodoPago.Numero_tarjeta_pago" @oninput="SelectedCarsChanged" maxlength="16" minlength="16" class="form-control"></InputText>
                        <ValidationMessage For=@(() => metodoPago.Numero_tarjeta_pago) />
                        @if (!resultado)
                        {
                            <small class="text-danger">@msj</small>
                        }

                    </div>
                    <div class="row mb-3">
                        <label for="Cardnumber">Fecha de expiración</label>
                        <div class="col">
                            <InputSelect class="form-control" @bind-Value="@metodoPago.Mes">
                                <option selected>Mes</option>
                                <option value="01">01- Enero</option>
                                <option value="02">02- Febrero</option>
                                <option value="03">03- Marzo</option>
                                <option value="04">04- Abril</option>
                                <option value="05">05- Mayo</option>
                                <option value="06">06- Junio</option>
                                <option value="07">07- julio</option>
                                <option value="08">08- Agosto</option>
                                <option value="09">09- Septiembre</option>
                                <option value="10">10- Octubre</option>
                                <option value="11">11- Noviembre</option>
                                <option value="12">12- Diciembre</option>
                            </InputSelect>
                        </div>
                        <div class="col">
                            <InputNumber @bind-Value="metodoPago.Año" placeholder="Año" list="quantities"
                                         class="form-control" min="22" max="32" maxlength="2" step="1"></InputNumber>
                            <datalist id="quantities">
                                <option value="22"></option>
                                <option value="23"></option>
                                <option value="24"></option>
                                <option value="25"></option>
                                <option value="26"></option>
                                <option value="27"></option>
                                <option value="28"></option>
                                <option value="29"></option>
                                <option value="30"></option>
                                <option value="31"></option>
                            </datalist>
                            <p class="mt-1 text-danger">
                                @(metodoPago.Año == 0 ? "El año no puede ser 0":"")
                            </p>
                            <p class="mt-1 text-danger">
                                @(metodoPago.Año >31 && metodoPago.Año < 22? "El año es incorrecto...":"")
                            </p>

                        </div>
                        <div class="col">
                            <InputNumber class="form-control" maxlength="3" minlength="3" placeholder="CVV" @bind-Value="metodoPago.CVV"></InputNumber>
                        </div>
                        <p class="mt-1 text-danger">
                            @(metodoPago.CVV == 0 ? "El CVV no puede ser 0":"")
                        </p>
                        @*<p class="mt-1 text-danger">
                                @(metodoPago.Año.ToString().Length != 3 ?"El CVV es incorrecto":"")
                            </p>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                        <button type="submit" class="btn btn-primary" disabled="@(!resultado)" data-bs-dismiss="@(!resultado ? "modal":"")">Validacion</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@if (loading)
{
    <Loading></Loading>
}



@code {


}
