@*@layout VentasLayout*@
@page "/smto-kiosco"
@inject IJSRuntime Js
@inject ISessionStorageService sessionStorage;


<style>
    @@media screen and (max-width: 800px) {
        .row {
            display: block;
        }

        .col-4 {
            width: 100%;
        }
    }

    .valid.modified:not([type=checkbox]) {
        outline: none;
    }

    .div1 {
        clip-path: polygon(77% 0, 100% 0%, 100% 100%, 63% 100%, 22% 72%);
        height: 62mm;
        width: 100%;
        position: absolute;
        z-index: 34;
        background: #1c57b9;
        border-radius: 10px;
    }

    .div2 {
        clip-path: polygon(0 0, 75% 0, 38% 35%, 0 70%);
        height: 62mm;
        width: 100%;
        position: absolute;
        z-index: 34;
        background: #006797;
        border-radius: 10px;
    }

    .div3 {
        height: 62mm;
        width: 100%;
        position: absolute;
        z-index: 34;
        background: transparent;
        border-radius: 10px;
        color: aliceblue;
        padding-left: 12px;
    }

    .div4 {
        height: 62mm;
        width: 100%;
        position: absolute;
        z-index: 34;
        background: transparent;
        border-radius: 10px;
        color: aliceblue;
        padding-left: 12px;
    }
</style>
@if (pGetInfoSucursal != null)
{
    <div class="container-xl p-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Venta</button>
                <button class="nav-link" id="nav-activar-tab" data-bs-toggle="tab" data-bs-target="#nav-activar" type="button" role="tab" aria-controls="nav-activar" aria-selected="false">Activar tarjetas</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-lg-4">
                        <RadzenCard class="mt-3 w-100">
                            <div class="text-center">
                                <div class="m-auto">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2580/2580363.png" height="50" width="50" alt="Alternate Text" />
                                </div>
                                <p>@pGetInfoSucursal.Nombre_Sucursal</p>
                                <label class="text-success">Activo</label>
                            </div>

                            @if (totalVenta != null)
                            {
                                <div class="border-top mt-3 border-bottom mb-3">
                                    <div class="form-group mt-2">
                                        <label>Total vendido hoy</label>
                                        <h1 class=" mb-2 text-success">RD$@(String.Format("{0:n0}", totalVenta.total))</h1>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p>Ultima recarga</p>
                                    <label>@Convert.ToDateTime(totalVenta.fecha).ToString("dddd, dd MMMM yyyy") a las @Convert.ToDateTime(totalVenta.fecha).ToString("HH:mm:ss tt")</label>
                                </div>
                            }

                        </RadzenCard>
                    </div>

                    <div class="col">
                        <RadzenCard class="mt-3 mr-1 p-0">
                            <div class="col mt-3">
                                <h2 class="d-inline">Recargas</h2>
                                <h3 style="float:right;" class="d-inline text-right">RD$@(String.Format("{0:n0}", pGetInfoSucursal.Balance))</h3>
                            </div>
                            <hr class="mb-0" />

                            <div class="row">
                                <div class="col-lg pr-0 mr-0">
                                    <EditForm Model="recargas" OnValidSubmit="Procesar_pago">
                                        <DataAnnotationsValidator />
                                        <div class="col p-4">
                                            <div class="form-group">
                                                <h3>No. tarjeta</h3>
                                                <RadzenMask Mask="*********" autofocus CharacterPattern="[0-9]" Placeholder="000000000" Name="SN"
                                                            @bind-Value=@recargas.numeroTarjeta Change="@(args => GetCardInfo(args))" class="form-control" Style="width: 100%;" />
                                                <ValidationMessage For=@(() => recargas.numeroTarjeta) />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label>Recargar</label>
                                                <RadzenRadioButtonList @bind-Value=@value TValue="int">
                                                    <Items>
                                                        <RadzenRadioButtonListItem Text="Viajes" Value="1" />
                                                        <RadzenRadioButtonListItem Text="Balance" Value="2" />
                                                    </Items>
                                                </RadzenRadioButtonList>

                                            </div>
                                            <div class="form-group">
                                                <label>@(value == 1 ? "Cantidad de viajes":"Monto a recargar")</label>
                                                <InputNumber @bind-Value="recargas.BalanceViaje" class="form-control" style="height:50px; font-size:24px;"></InputNumber>
                                                <ValidationMessage For=@(() => recargas.BalanceViaje) />
                                                <p class="mt-1">
                                                    @(value==2 ? "El monto mínimo de recarga es de RD$20.00 y el máximo de RD$2,000.00"
                                    : "Cantidad maxima de viajes 20")

                                                </p>
                                                <p class="mt-1 text-danger">
                                                    @(value == 2 && recargas.BalanceViaje <20 ? "El balance a recargar es menor al balace requerido...":"")

                                                </p>
                                                <p class="mt-1 text-danger">
                                                    @(value == 2 && recargas.BalanceViaje > 2000 ? "El balance a recargar es mayor al balace requerido...":"")

                                                </p>
                                                <p class="mt-1 text-danger">
                                                    @(value == 1 && recargas.BalanceViaje > 20 ? "A sobrepasado la cantidad maxima de viajes...":"")

                                                </p>
                                                <p class="mt-1 text-danger">
                                                    @(value == 1 &&  recargas.BalanceViaje ==0 ? "La cantidad de viajes no puede ser 0":"")
                                                </p>
                                                <p class="mt-1 text-danger">
                                                    @(value == 2 &&  recargas.BalanceViaje ==0 ? "La cantidad de balance no puede ser 0":"")
                                                </p>
                                            </div>
                                            <hr class="mb-0" />
                                            <input type="submit" class="btn btn-success w-100" value="Recargar" />
                                        </div>
                                    </EditForm>
                                </div>
                                @if (responseCardFor != null && responseCardFor.ok)
                                {
                                    <div class="col-lg">
                                        <div class="col pl-0 ml-0">
                                            <div class="mt-4" style="width: 100%; height: 62mm; background: #45536b; border-radius: 10px; position: relative; ">
                                                <div class="div1">

                                                </div>
                                                <div class="div2">
                                                    <img src="https://www.opret.gob.do/Images/logoOPRETFooter.png" height="85" width="80" style="margin-left:4px;" alt="Alternate Text" />
                                                </div>
                                                <div class="div3">
                                                    <h3 class="text-white pb-1 mb-1 d-inline text-right pr-3 mt-2" style="float:right;">$@responseCardFor.tarjeta.balance</h3>
                                                    <h3 class="text-white pb-1 mb-1 d-inline text-right pr-2 mt-2" style="float:right;"><ion-icon name="swap-vertical-sharp"></ion-icon>@responseCardFor.tarjeta.viajes</h3>

                                                    <h3 class="text-white pb-1 mb-1" style="margin-top:41%;">@responseCardFor.tarjeta.numeroTarjeta</h3>
                                                    @if (usuarioTitular != null)
                                                    {
                                                        <label>@usuarioTitular.Usuarios[0].NombreApellido.ToUpper()</label>
                                                    }
                                                    else
                                                    {
                                                        <label>USUARIO SIN ASIGNAR</label>
                                                    }
                                                </div>
                                                <div class="div4">
                                                    <img src="@QRCodeSTR" height="100" width="100" style="margin-left:68.5%; margin-top:5.7rem; border-radius:5px;" alt="Alternate Text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg">

                                        </div>
                                    </div>

                                }
                                @if (responseCardFor != null)
                                {
                                    @if (!responseCardFor.ok)
                                    {
                                        <div class="col-lg mt-5 mr-2">
                                            <div class="alert alert-danger">
                                                El numero de la tarjeta es incorrecto o la tarjeta no esta activa...
                                            </div>
                                        </div>
                                    }
                                }

                            </div>

                        </RadzenCard>
                        @if (response != null)
                        {
                            @if (response.ok)
                            {
                                <div class="alert alert-success">
                                    @response.mensaje
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    @response.mensaje
                                </div>
                            }
                        }
                       
                            @if (VF)
                            {
                                <div class="alert alert-danger">
                                    La cantidad de balance con la que cuenta la sucursal es inferior a la que intentas recargar a la tarjeta @(responseCardFor.tarjeta.numeroTarjeta). Intente con una cantidad menor...
                                </div>
                            }
                        

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-activar" role="tabpanel" aria-labelledby="nav-activar-tab">
                @if (user != null)
                {
                    <Activar_tarjetas idUser="@user.idUsuario" />
                }
            </div>
        </div>
    </div>
}
else
{
    <Loading></Loading>
}

@code {
    int value = 1;

    int prueva(int id)
    {
        Console.WriteLine(id);
        return id;
    }
}
